.clear-fix{
  clear:both;
}
#explanation, #explanation > div{
  width: 250px;
  padding:10px;
  float: left;
}

.block{
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px #aaa solid;
}

.selected{
  background: #f00;  
}
.alive{
  border: 1px black solid;

}
.new{
  background: #ff4;
}
.egg{
  background: none repeat scroll 0% 0% rgb(235, 200, 100);
}

.row{
  display: -webkit-flex;
}
