.clear-fix{
  clear:both;
}
#explanation{
  width: 200px;
  float: left;
}
.block{
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px #bbb solid;
}

.example-selecting, .selecting{
  border-color: rgba(0, 0, 250, 0.5);
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 250, 0.5);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 250, 0.5);
}
.example-selected, .selected{
  background: #f00!important;  
}
.example-alive, .alive, .selected.alive{
  border: 1px black solid;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(250, 0, 0, 0.5);
  box-shadow: inset 1px 1px 6px 0px rgba(250, 0, 0, 0.5);
}
.example-new, .new{
  /*background: #ff4;*/
  background: none repeat scroll 0% 0% rgb(235, 200, 100);
}
.example-egg, .egg{
  /*background: none repeat scroll 0% 0% rgb(235, 200, 100);*/
  background: #ddff00;
}

.row{
  display: -webkit-flex;
}

.new.alive{
  background: none;
}


.soft-warning{
  background: none repeat scroll 0% 0% #8CE3FF;
}

.warning{
  background: none repeat scroll 0% 0% #00FFF7;
}

.take-care{
  background: none repeat scroll 0% 0% #22F878;
}

.danger{
  background: none repeat scroll 0% 0% #008BFF;
}

.almost-dead{
  background: none repeat scroll 0% 0% #0D2ACB;
}

.dead{
  background: none repeat scroll 0% 0% #0D0869;
}

#world{
  float: left;
  margin-left: 40px;
}

.speed.form-group{
  width: 220px;
}